.title-1{
  font-size: 4.5rem;
  font-weight: 700;
  color: #ffffff;
}
.title-2{
  font-size: 4rem;
  font-weight: 700;
  color: $white;
  line-height: 100%;
}
.title-3{
  font-size: 1.9rem;
  font-weight: 700;
  color: $green_dark;
  &_white{
    color: #ffffff;
  }
  &-green_light{
    color: $green_light;
  }
}
.title-4{
  font-size: 1.4rem;
  font-weight: 300;
  color: $green_light;
}